body {
    margin: 0;
    text-align: center;
    background-color: #91a5ff;
}

.score {
    background: #190003;
    font-size: 90px;
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    border-radius: 5px;
    border-style: double;
}